html, body{
    margin: 0;
    padding: 0;
    background-color: #4c70ff;
    font-family: Roboto, sans-serif;
}

.container{
    width: 1080px;
    margin: 5vh auto;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.fixed-area, .user-info, .user-images, .chat-box, .alerts{
    background-color: #89c6ff;
    border-radius: 20px;
}

.fixed-area{
    width: 48%;
    height: 90vh;
}

.user-space{
    width: 50%;
    height: 100%;
}

.user-info{
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.user-info h2{
    font-size: 14pt;
    align-self: flex-start;
    color: #0000bc;
}

.user-info #player{
    position: relative;
    width: auto;
    height: 140px;
}

.user-images #image{
    display: none;
}

.user-images{
    
    padding: 5px;
    width: calc(100% - 10px);
    height: 140px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.user-images #button-photo{
    height: 40px;
    width: 60px;
    border: none;
    background-color: #4c70ff;
    border-radius: 20px;
    align-self: flex-start;
}

.user-images #button-photo:focus{
    outline: none;
}

.chat-box{
    width: 100%;
    height: calc(90vh - 340px);
}

#messages-container{
    width: 100%;
    height: 85%;
    overflow-y: auto;
}

#messages{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.message{
    color: white;
    border-radius: 10px;
    max-width: 80%;
    padding: 10px;
    margin: 5px 15px;
    display: inline-block;
}

.green-message{
    background-color: #BADA55;
    align-self: flex-end;
    text-align: right;
    border-radius: 15px 3px 15px 15px;
}

.grey-message{
    background-color: #c3c3cc;
    align-self: flex-start;
    text-align: left;
    border-radius: 15px 15px 15px 3px;
}

.blue-message{
    background-color: #4c95ff;
    align-self: center;
    text-align: center;
}

.red-message{
    background-color: lightcoral;
    align-self: center;
    text-align: center;
}

#send{
    width: 100%;
    height: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#send #messageTXT{
    padding: 5px;
    width: 70%;
    border-radius: 20px;
    border: solid 2px #4c70ff;
    background-color: #bce4ff;
}

#send #button-send{
    height: 36px;
    width: 36px;
    border: none;
    background-color: #4c70ff;
    border-radius: 100%;
    
}

#send #button-send:hover, .user-images #button-photo:hover{
    transition: 0.1s linear;
    transform: translateY(-5px);
    box-shadow: 0 5px #4b4b54;
}

#button-send:focus, #messageTXT:focus{
    outline: none;
}

.alerts{
    width: 100%;
    height: 20vh;
    margin-top: 20px;
}

.alerts h2{
    font-size: 14pt;
    margin: 10px 0 5px 10px;
    color: #0000bc
}